<section class="features section text-center">
    <div class="container-sm">
        <div class="features-inner section-inner has-bottom-divider">
            <div class="features-wrap">
                <div class="feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="icons/eth.png" style="height:100px;width:64px;">
                        </div>
                        <br/>
                        <p class="text-sm mb-0" id="accEthBal">0.00</p>
                        <h3 class="feature-title mt-0" >ETH</h3>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="icons/anc.png" style="height:100px;width:100px;">
                        </div>
                        <br/>
                        <p class="text-sm mb-0" id="accTokenBal">0.00</p>
                        <h3 class="feature-title mt-0">ANC</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
