<footer class="site-footer">
    <div class="footer-disk footer-disk-1 is-moving-object is-translating" data-translating-factor="60">
        <svg width="600" height="300" viewBox="0 0 600 300" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient x1="100%" y1="100%" x2="-1.265%" y2="100%" id="disk-5-a">
                    <stop stop-color="#040404" stop-opacity="0" offset="0%"/>
                    <stop stop-color="#3217BB" offset="100%"/>
                </linearGradient>
            </defs>
            <path d="M153 492c0-165.685 134.315-300 300-300s300 134.315 300 300H603c0-82.843-67.157-150-150-150s-150 67.157-150 150H153z" transform="translate(-153 -192)" fill="url(#disk-5-a)" fill-rule="evenodd"/>
        </svg>
    </div>
    <div class="footer-disk footer-disk-2 is-moving-object is-translating" data-translating-factor="80">
        <svg width="600" height="300" viewBox="0 0 600 300" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient x1="0%" y1="100%" y2="100%" id="disk-6-a">
                    <stop stop-color="#040404" stop-opacity="0" offset="0%"/>
                    <stop stop-color="#D15680" offset="100%"/>
                </linearGradient>
            </defs>
            <path d="M1153 63c0 165.685-134.315 300-300 300S553 228.685 553 63h150c0 82.843 67.157 150 150 150s150-67.157 150-150h150z" transform="translate(-553 -63)" fill="url(#disk-6-a)" fill-rule="evenodd"/>
        </svg>
    </div>
    <div class="footer-sphere footer-sphere-1 is-moving-object is-translating" data-translating-factor="20">
        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <radialGradient cx="83.479%" cy="86.284%" fx="83.479%" fy="86.284%" r="128.926%" id="sphere-3-a">
                    <stop stop-color="#D15680" offset="0%"/>
                    <stop stop-color="#040404" stop-opacity="0" offset="100%"/>
                </radialGradient>
            </defs>
            <circle cx="251" cy="433" r="16" transform="translate(-235 -417)" fill="url(#sphere-3-a)" fill-rule="evenodd"/>
        </svg>
    </div>
    <div class="container">
        <div class="site-footer-inner has-top-divider">
            <ul class="footer-links list-reset">
                <li>
                    Powered by
                    <a href="https://matic.network" target="_blank">Matic Network</a>
                    and
                    <a href="https://biconomy.io/" target="_blank">Biconomy</a>
                </li>
            </ul>
            <div class="footer-copyright">&copy; 2020 Made with ❤️ by &nbsp;<a href="https://anudit.dev/" target="_blank"> Anudit Nagar</a></div>
        </div>
    </div>
</footer>
