<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="icons/icon-512x512.png">
    <meta name="author" content="Anudit Nagar">
    <meta name="theme-color" content="#0C0E12">
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Swap">
    <meta name="apple-mobile-web-app-title" content="Swap">
    <meta name="msapplication-starturl" content="/">
    <meta name="application-name" content="AtomiX Network"/>
    <meta name="msapplication-TileColor" content="#040404" />
    <meta name="msapplication-TileImage" content="/icons/mstile-310x310.png" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/icons/apple-touch-icon-152x152.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AtomiX Network</title>
    <meta name="title" content="AtomiX Network">
    <meta name="description" content="A simple way to swap tokens atomically across Ethereum, Binance and EOS Chains.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://atomixnet.herokuapp.com/">
    <meta property="og:title" content="AtomiX Network">
    <meta property="og:description" content="A simple way to swap tokens atomically across Ethereum, Binance and EOS Chains.">
    <meta property="og:image" content="https://atomixnet.herokuapp.com/poster.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://atomixnet.herokuapp.com/">
    <meta property="twitter:title" content="AtomiX Network">
    <meta property="twitter:creator" content="@anuditnagar">
    <meta property="twitter:description" content="A simple way to swap tokens atomically across Ethereum, Binance and EOS Chains.">
    <meta property="twitter:image" content="https://atomixnet.herokuapp.com/poster.png">

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "WebSite",
          "name": "AtomiX Network",
          "url": "https://atomix.herokuapp.com",
        }
    </script>

    <link href="https://fonts.googleapis.com/css?family=Heebo:400|Titillium+Web:600" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">


    <script src="js/mexa@1.5.6.js"></script>
    <script type="text/javascript" src="js/providers/web3modal.js" async></script>
    <script type="text/javascript" src="js/providers/fortmatic.js" async></script>
    <script type="text/javascript" src="js/providers/walletconnect.js" async></script>
    <script type="text/javascript" src="js/providers/torus-embed.js" async></script>
    <script type="text/javascript" src="js/providers/portis.js" async></script>
    <script type="text/javascript" src="js/providers/web3-arkane-provider.js"  async></script>\
</head>
