<header class="site-header">
    <div class="hero-disk hero-disk-1 is-moving-object is-translating" data-translating-factor="60">
        <svg width="600" height="300" viewBox="0 0 600 300" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient x1="-1.265%" y1="100%" y2="100%" id="disk-1-a">
                    <stop stop-color="#040404" stop-opacity="0" offset="0%"/>
                    <stop stop-color="#3217BB" offset="100%"/>
                </linearGradient>
            </defs>
            <path d="M846 515c0-165.685 134.315-300 300-300s300 134.315 300 300h-150c0-82.843-67.157-150-150-150s-150 67.157-150 150H846z" transform="translate(-846 -215)" fill="url(#disk-1-a)" fill-rule="evenodd"/>
        </svg>
    </div>
    <div class="hero-disk hero-disk-2 is-moving-object is-translating" data-translating-factor="20">
        <svg width="600" height="300" viewBox="0 0 600 300" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient x1="0%" y1="100%" y2="100%" id="disk-2-a">
                    <stop stop-color="#040404" stop-opacity="0" offset="0%"/>
                    <stop stop-color="#D15680" offset="100%"/>
                </linearGradient>
            </defs>
            <path d="M1153 63c0 165.685-134.315 300-300 300S553 228.685 553 63h150c0 82.843 67.157 150 150 150s150-67.157 150-150h150z" transform="translate(-553 -63)" fill="url(#disk-2-a)" fill-rule="evenodd"/>
        </svg>
    </div>
    <div class="hero-sphere hero-sphere-1 is-moving-object is-translating" data-translating-factor="10">
        <svg width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <radialGradient cx="83.479%" cy="86.284%" fx="83.479%" fy="86.284%" r="128.926%" id="sphere-1-a">
                    <stop stop-color="#D15680" offset="0%"/>
                    <stop stop-color="#040404" stop-opacity="0" offset="100%"/>
                </radialGradient>
            </defs>
            <circle cx="1522" cy="447" r="24" transform="translate(-1498 -423)" fill="url(#sphere-1-a)" fill-rule="evenodd"/>
        </svg>
    </div>

    <div class="container">
        <div class="site-header-inner">
            <div class="brand header-brand">
                <h3 class="m-0">
                    <a href="/" style="text-decoration: none;">
                        AtomiX Swap
                    </a>
                </h3>
            </div>
            <div class="brand header-brand">
                <span class="sw-label col-warning" id="connection" title="API Status (click to retry)">NOT CONNECTED</span>
                <span class="sw-label" id="accAdd" title="Your Address">0x000..000</span>
                <span class="sw-label" id="wallAdd" title="Your Contract Wallet Address">0x000..000</span>
            </div>
        </div>
    </div>
</header>
