<section class="features section text-center">
    <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
            <div class="features-wrap">
                <div class="feature">
                    <div class="feature-inner">
                        <h3 class="feature-title mt-0 mb-8">Want more Details?</h3>
                        <p class="text-sm mb-0">Track your balance and transactions on the EOS Chain</p>
                        <br>
                        <a class="button button-primary button-shadow" href="/eos-dashboard">EOS Dashboard</a>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-inner">
                        <h3 class="feature-title mt-0 mb-8" >Want to switch Chains?</h3>
                        <p class="text-sm mb-0">Swap tokens atomically across multiple chains.</p>
                        <br/>
                        <a class="button button-primary button-shadow" href="/">Switch</a>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-inner">
                        <h3 class="feature-title mt-0 mb-8" >Want more Details?</h3>
                        <p class="text-sm mb-0">Track your balance and transactions on the Binance Chain</p>
                        <br/>
                        <a class="button button-primary button-shadow" href="/binanace-dashboard">Binance Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
